<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>

		<form action="/thoughts/save-child" th:object="${thought}" method="POST">
		
		<select th:field="*{parent}">
			<option th:each = "t : ${thoughts}"
					th:value = "${t.thoughtId}"
					th:text = "${t.description}">
			</option>
		</select>
		
		<input type="text" placeholder="Description" th:field=*{description}>
		
		<button type="submit">Create Child</button>
		
		</form>
	
</body>

</html>